<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Shiny Flights was founded in 2023 and provides exceptional aircraft cleaning and detailing services. Our objective is to provide the absolute best customer experience and safety above all. We treat each aircraft as our own and strive for perfection.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you are looking for a quick wash before a trip or a complete detail after some serious hours, we got your back! We provide waterless hand washing, with your aircraft's well-being and safety in mind. Contact us for a quick quote! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
